.app-header {
  align-items: flex-end;
  justify-content: space-between;

}

.app-header h1 {
  /* width: 150px;
  height: 150px; */
  font-size: 26px;
  color: #0ccbf0;
  font-weight: 700;

}

.app-header h2 {
  font-size: 1.2rem;
  color: rgb(104, 104, 104);
}